<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs") %>
<body>
    <%- include ("../partials/header.ejs") %>
    <nav>
        <a href="/pokemon/new">Create a New Fruit</a>
    </nav>
    <main>
        <div>
            <% for (let i=0; i < pokemon.length; i++) { %>
                <a href="/pokemon/<%= i %>"><img src="<%= pokemon[i].img %>" alt="<%= pokemon[i].name %>"></a>
            <% }%>    
        </div>
    </main>
</body>
</html>