<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs") %>
<body>
    <%- include ("../partials/header.ejs") %>
    <h1>POKEDEX</h1>
    <main>
        <div class="container">
            <% for (let i=0; i < pokemon.length; i++) { %>
                <a href="/pokemon/<%= i %>"><img src="<%= pokemon[i].img %>" id="index-img" alt="<%= pokemon[i].name %>"></a>
            <% }%>    
        </div>
    </main>
</body>
</html>